@import url(./reset.css);
@import url(./variables.css);
@import url(./helpers.css);

@font-face {
    font-family: 'Roboto Regular';
    src: url('../../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../../assets/fonts/Roboto-Bold.ttf');
}

::placeholder {
    color: var(--light-color);
    opacity: 1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--field-border-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

* {
    font-family: var(--font-regular), sans-serif;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    color: var(--dark-color);
    font-weight: 400;
    margin: .2em 0;
}

h1 > strong,
h2 > strong,
h3 > strong,
h4 > strong {
    font-family: var(--font-bold) sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 17px;
}