@import url(./reset.css);
@import url(./variables.css);
@import url(./helpers.css);

@font-face {
    font-family: 'Rubik Light';
    src: url('../../assets/fonts/Rubik-Light.ttf');
}

@font-face {
    font-family: 'Rubik Regular';
    src: url('../../assets/fonts/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik Bold';
    src: url('../../assets/fonts/Rubik-Bold.ttf');
}

* {
    font-family: 'Rubik Regular', sans-serif;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}